# {{ title }}

This is a nice picture of High Tech Campus.

::: figure #fig-htc
![High Tech Campus](../data/images/htc.jpg)
High Tech Campus, Eindhoven
:::



## Requirements for {{ part_name }}
### This is a manual input

{% for r in requirements %}
- **{{ r.id }}**: {{ r.text }}
{% endfor %}
